:root {
  --wash-black: #020d1c;
  --wash-orange: #f2ca89;
  --wash-blue: #17499f;
  --wash-yellow: #f26419;
}

/* RESET */

input,
select {
  height: 56px;
}
input {
  &::placeholder {
    color: #d9d9d9 !important;
  }
}
label {
  margin-bottom: 8px;
  font-weight: 500;
}

button:disabled {
  background: #cfcfcf !important;
  cursor: none;
  border: none;
}

.phone-input-0 {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px 16px;
  height: 56px;
  display: flex;
  align-items: center;

  span {
    border-right: 1px solid #d9d9d9;
    padding-right: 16px;
    margin-right: 8px;
    cursor: pointer;
  }

  input {
    height: auto;
    border: none;
    width: 100%;
    border-left: 0;
    border-right: 0;

    &:focus-visible {
      outline: none;
    }
  }
}

/* RESET ENDS */

.navbar-toggler:focus {
  box-shadow: none;
}

nav .navbar-collapse ul {
  width: 100%;
  justify-content: flex-end;
}

.global-overlay .global-overlay-container {
  position: fixed;
  background: #88888869;
  height: 100%;
  z-index: 4;
  width: 100%;
  cursor: no-drop;
  top: 0;
  left: 0;
}

.global-overlay .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #17499f #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.demo-banner {
  background: #16499fa1;
  color: white;
  position: absolute;
  width: 220px;
  text-align: center;
  font-size: 18px;
  transform: rotate(325deg);
  left: -31px;
  height: 29px;
  top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message-text {
  margin-bottom: 0;
  font-size: 12px;
  margin-top: 5px;
  color: #f26419;
}

.pickup-button {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: 56px;
  color: var(--wash-blue);
  border: none;
  letter-spacing: 0.28px;
  border-radius: 8px;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
}

.app-spinner {
  color: #fff !important;
  width: 27px;
  height: 27px;
}

.counter-view {
  display: flex;
  font-size: 24px;
  align-items: center;
  border-radius: 24px;
  background: #fafafa;
  width: fit-content;
  height: fit-content;
  gap: 40px;

  .sign {
    height: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 50px;

    &._minus {
      background: #fff8ec;
      border: 1px solid #ffe6bc;
    }
    &._add {
      background: #ffd59a;
      border: none;
    }
  }

  p {
    margin-bottom: 0 !important;
    font-size: 20px !important;
  }
}

/* LANDING PAGE BEGINS */

.app-landing p {
  color: var(--wash-black);
  line-height: normal;
}

.app-landing .section-one {
  background: url("../svgs/BBackground.svg");
  background-size: cover;
}

.app-landing .section-one .navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.app-landing .section-one .header-container {
  padding-top: 24px;
  align-items: center;
}

.app-landing .section-one .header-container ul {
  display: flex;
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.app-landing .section-one .header-container ul a {
  color: var(--wash-black);
  font-weight: 600;
  font-size: 14px;
}

.app-landing .section-one .header-container .login-section {
  display: flex;
  align-items: center;
  column-gap: 56px;
  justify-content: center;
}

.app-landing .section-one .header-container .login-section a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

.app-landing .section-one .header-container .login-section button {
  border-radius: 8px;
  background: #17499f;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 32px;
  border: none;
  white-space: nowrap;
}

.app-landing .section-one .body {
  margin-top: 56px;
}

.app-landing .section-one .body ._location .info {
  display: flex;
  align-items: center;
  border-radius: 24px;
  background: var(--wash-orange);
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px;
  column-gap: 5px;
}

.app-landing .section-one .body ._location .info i {
  font-size: 11px;
  line-height: normal;
}

.app-landing .section-one .body ._location .info p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
}

.app-landing .section-one .body ._location .info p span {
  font-weight: 700;
}

.app-landing .section-one .body h1 {
  font-size: 64px;
  margin-top: 16px;
  font-weight: 600;
  width: 546px;
}

.app-landing .section-one .body h1 span {
  display: block;
  color: #f26419;
}

.app-landing .section-one .body ._location.prompt {
  font-size: 16px;
  font-weight: 500;
  margin-top: 19px;
}

.app-landing .section-one .body ._location.input-wrapper {
  height: 56px;
  width: 480px;
}

.app-landing .section-one .body ._location.input-wrapper.addon {
  width: 45px;
  background: white;
  display: flex;
  justify-content: center;
}

.app-landing .section-one .body ._location.input-wrapper.inputbox {
  border-left: none;
}

.app-landing .section-one .body ._location.schedule-button {
  background: var(--wash-blue);
  color: white;
  font-size: 14px;
  font-weight: 700;
  margin-top: 16px;
  width: 480px;
  height: 56px;
  border-radius: 8px;
  border: none;
  margin-bottom: 115px;
}

.app-landing .section-two {
  display: block;
  padding-top: 80px;
}

.app-landing .section-two ._attributes {
  margin-bottom: 80px;
}

.app-landing .section-two ._attributes h1.head {
  text-align: center;
  margin-bottom: 40px;
}

.app-landing .section-two ._attributes .body {
  display: flex;
  justify-content: space-between;
}

.app-landing .section-two ._attributes .body .item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.app-landing .section-two ._attributes .body .item .icon-wrapper {
  border-radius: 4px;
  background: #ffe6bc;
  padding: 16px;
  color: #323232;
  margin-bottom: 0;
}

.app-landing .section-two ._attributes .body .item .header {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
}

.app-landing .section-two ._attributes .body .item .info {
  color: #666;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0;
}

.app-landing .section-two .benefit {
  border-radius: 8px;
  background: #e4eeff;
  padding: 40px;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.app-landing .section-two .benefit h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 24px;
}

.app-landing .section-two .benefit p {
  line-height: 28px;
  margin-bottom: 32px;
  width: 40%;
}

.app-landing .section-two .benefit img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.app-landing .section-two .benefits-flex {
  display: flex;
  column-gap: 24px;
  margin-bottom: 120px;
}

.app-landing .section-two .benefits-flex .benefit p {
  width: 63%;
}

.app-landing .section-two .benefits-flex .benefit:first-child {
  background: #e6faff;
}

.app-landing .section-two .benefits-flex .benefit:last-child {
  background: #f6ffe3;
}

.app-landing .section-two .benefits-flex .benefit .check-icon::before {
  content: "\f26e";
  font-family: "bootstrap-icons";
  margin-right: 3px;
  top: 2.5px;
  position: relative;
}

.app-landing .section-two ._services h1 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  color: var(--wash-black);
}

.app-landing .section-two ._services .services-flex {
  display: flex;
  margin-top: 40px;
  column-gap: 24px;
  margin-bottom: 120px;
}

.app-landing .section-two ._services .services-flex .service {
  border-radius: 16px;
  background: #f5c87e;
  padding: 40px;
  color: var(--wash-black);
  width: 100%;
}

.app-landing .section-two ._services .services-flex .service img {
  width: 100px;
}

.app-landing .section-two ._services .services-flex .service ._text-section {
  min-height: 240px;
  height: auto;

  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  p {
    line-height: 26px;
    margin-bottom: 32px;
    color: #323232;
    font-size: 16px;
    font-weight: 400;
  }
}

.app-landing .section-two a.schedule-pickup-btn {
  border-radius: 8px;
  background: #fff;
  color: var(--wash-blue);
  letter-spacing: 0.32px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}

.app-landing .section-two ._pricing h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: var(--wash-black);
  margin-bottom: 40px;
}

.app-landing .section-two ._pricing .pricing-flex {
  display: flex;
  column-gap: 24px;
}

.app-landing .section-two ._pricing .pricing-flex .pricing {
  color: var(--wash-black);
  border-radius: 16px;
  background: #fbe8ca;
  padding: 40px;
  width: 100%;
}

.app-landing .section-two ._pricing h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 24px;
}

.app-landing .section-two ._pricing ._price {
  color: #666;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 24px;
}

.app-landing .section-two ._pricing ._loads {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 600;
}

.app-landing .section-two ._pricing ._benefits {
  height: 115px;
}

.app-landing .section-two ._pricing ._benefits p {
  font-size: 14px;
  font-weight: 400;
}

.app-landing .section-two ._extras {
  margin-top: 24px;
  background: #fbe8ca;
  border-radius: 16px;
  padding: 40px;
}

.app-landing .section-two ._extras h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 24px;
}

.app-landing .section-two ._extras ._extras-box {
  display: flex;
  justify-content: space-between;
}

.app-landing .section-two ._extras ._extras-box .extra p:first-child {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px;
}

.app-landing .section-two ._extras ._extras-box .extra p:last-child {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.app-landing .section-two ._reviews {
  margin-top: 120px;
  color: var(--wash-black);
  padding-bottom: 120px;
}

.app-landing .section-two ._reviews h1 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 40px;
}

.app-landing .section-two ._reviews .reviews-flex {
  display: flex;
  column-gap: 24px;
}

.app-landing .section-two ._reviews .reviews-flex .review-container {
  border-radius: 16px;
  background: #f4ede1;
  padding: 40px;
  font-size: 16px;
}

.app-landing
  .section-two
  ._reviews
  .reviews-flex
  .review-container
  .quotes-mark {
  margin-bottom: 16px;
}

.app-landing .section-two ._reviews .reviews-flex .review-container p {
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 50px;
}

.app-landing .section-two ._reviews .reviews-flex .review-container .reviewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-landing
  .section-two
  ._reviews
  .reviews-flex
  .review-container
  .reviewer
  .info
  span {
  display: block;
  &:first-child {
    font-weight: 600;
  }
}

.app-landing
  .section-two
  ._reviews
  .reviews-flex
  .review-container
  .reviewer
  ._wrapper {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.app-landing .section-three {
  background-color: var(--wash-black);
}

.app-landing .section-three ._faqs h1 {
  color: #fff;
  padding-top: 120px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}

.app-landing .section-three ._faqs .accordion-item {
  margin-bottom: 8px;
  border-radius: 15px;
  padding-bottom: 15px;
}

.app-landing .section-three ._faqs .accordion-button {
  border-radius: inherit;
  height: 83px;
  color: #020d1c;
  font-size: 16px;
  font-weight: 600;
  box-shadow: none;
  margin-bottom: -15px;

  &:not(.collapsed) {
    background: none;
  }
}

.app-landing .section-three ._current-location {
  margin-top: 100px;
  padding-bottom: 77px;
  color: white;
}

.app-landing .section-three ._current-location h1 {
  text-align: center;
  margin-bottom: 24px;
}

.app-landing .section-three ._current-location div {
  display: flex;
  border-radius: 16px;
  border: 1px solid #1b2e40;
  background: #021024;
  justify-content: center;
  column-gap: 120px;
  height: 83px;
  align-items: center;
}

.app-landing .section-three ._current-location div p {
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.app-landing .section-three ._footer {
  border-top: 1px solid #041b3d;
  padding: 120px 90px;
  padding-bottom: 180px;
}

.app-landing .section-three ._footer ._elements {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
}

.app-landing .section-three ._footer ._elements .logo-section {
  display: flex;
  align-items: baseline;
  column-gap: 26px;
}

.app-landing .section-three ._footer ._elements .logo-section img {
  width: 116px;
  height: 56px;
}

.app-landing .section-three ._footer ._elements .logo-section p {
  position: relative;
  top: -7px;
  color: #fff;
}

.app-landing .section-three ._footer ._elements a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  position: relative;
  top: -7px;
}

.app-landing .section-three ._footer ._elements ul {
  top: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}
/* LANDING PAGE ENDS */

/* SCHEDULE PICKUP BEGINS  */

.schedule-pickup__header {
  background: #fff8ec;
  padding: 0px 120px;
  border-bottom: 8px solid #ffe6bc;
  margin-bottom: 64px;
}

.schedule-pickup__header button.logout {
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: var(--wash-black);
  font-size: 14px;
  font-weight: 600;
  width: 119px;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.blue {
    background-color: var(--wash-blue);
    color: #fff;
  }
}

.schedule-pickup__header ._container {
  padding-top: 10px;
}

.schedule-pickup__header .extended-header h3 {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 77.5px;
  color: var(--wash-black);
  padding: 108px 0;
}

.schedule-pickup .body {
  padding: 0 120px;

  &.mobile {
    display: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.schedule-pickup .body .flow-tracker-wrapper {
  border-radius: 8px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  gap: 121px;
  padding: 30px 0;
  margin-bottom: 40px;
  position: relative;

  i {
    position: absolute;
    left: 30px;
    font-size: 20px;
    cursor: pointer;
  }
}

.schedule-pickup .body .flow-tracker-wrapper .tracker {
  display: flex;
  align-items: center;
  gap: 16px;

  p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  input {
    width: 24px;
    height: 24px;
  }

  &.disabled {
    p {
      color: #919191;
    }
  }
}

.schedule-pickup .body .steps .step-view h2 {
  font-size: 36px;
  color: var(--wash-black);
  font-weight: 600;
  margin-bottom: 8px;
}

.schedule-pickup .body .steps .step-view p {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.schedule-pickup .body .steps .step-view .__options {
  display: flex;
  gap: 24px;
  cursor: pointer;
}

.schedule-pickup .body .steps .step-view .__options .option {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #d9d9d9;
  background: #fff;
  padding: 24px;

  &.active {
    border-color: #efaf33;
  }
}

.schedule-pickup .body .steps .step-view .__options .option .imgs {
  display: flex;
  justify-content: space-between;

  img {
    width: 24px;
    height: 24px;

    &.option-img {
      width: 56px;
      height: 56px;
    }
  }
}

.schedule-pickup .body .steps .step-view .__options .option h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.schedule-pickup .body .steps .step-view .__options .option p {
  color: #666;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}

.schedule-pickup .body .steps .step-view .input-group {
  input {
    border-left: 0;
    padding-left: 0;
  }
  .input-group-text {
    background: white;
  }
}

.schedule-pickup .body .steps .step-view label,
.schedule-pickup .body .steps .step-view select {
  font-size: 14px;
  font-weight: 500;
}

.schedule-pickup .body .steps .step-view .etd {
  display: flex;
  border-radius: 8px;
  background: #d6e7ff;
  padding: 16px;
  gap: 8px;
  align-items: center;
  i {
    font-size: 24px;
  }
  p {
    margin-bottom: 0;
    color: var(--wash-black);
    font-size: 14px;
    font-weight: 300;
    b {
      font-weight: 600;
    }
  }
}

.schedule-pickup .body .steps .step-view textarea {
  height: 120px;
  &::placeholder {
    color: #d9d9d9;
    font-size: 14px;
    font-weight: 400;
  }
}

.schedule-pickup .body .steps .step-view.customize-wash h2 {
  color: var(--wash-black);
  font-size: 24px;
  font-weight: 500;
}

.schedule-pickup .body .steps .step-view.customize-wash p {
  color: #666;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}

.schedule-pickup .body .steps .step-view.customize-wash .__options .option {
  border-width: 1px;
}

.schedule-pickup
  .body
  .steps
  .step-view.customize-wash
  .__options
  .option
  .wash-counter-flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.schedule-pickup
  .body
  .steps
  .step-view.customize-wash
  .__options
  .option
  .wash-counter-flex
  h3 {
  color: #666;
  font-weight: 300;

  span {
    font-size: 14px;
    font-weight: 300;
    line-height: 150%;
    text-transform: lowercase;
  }
}

.schedule-pickup .body .steps .step-view.customize-wash .wash-description {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 100%;
  margin-bottom: 24px;
  color: #17499f;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.schedule-pickup .body .steps .step-view.customize-wash .extras .extra {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 16px;
  margin-bottom: 8px;
}

.schedule-pickup
  .body
  .steps
  .step-view.customize-wash
  .extras
  .extra
  .-info
  ._name {
  color: var(--wash-black);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

.schedule-pickup
  .body
  .steps
  .step-view.customize-wash
  .extras
  .extra
  .-info
  ._price {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.schedule-pickup .body .steps .step-view.contact-details .payments h3 {
  font-size: 24px;
  font-weight: 400;
}

.schedule-pickup
  .body
  .steps
  .step-view.contact-details
  .payments
  .payment-option {
  display: flex;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  padding: 26px 24px;
  align-items: center;
  gap: 32px;
  cursor: pointer;
  position: relative;

  &.active {
    border-color: #f6ae2d;
  }
}

.schedule-pickup
  .body
  .steps
  .step-view.contact-details
  .payments
  .payment-option
  img {
  width: 30px;
  margin-right: -10px;
}

.schedule-pickup
  .body
  .steps
  .step-view.contact-details
  .payments
  .payment-option
  p {
  margin-bottom: 0;
  font-size: 16px;
  color: var(--wash-black);

  b {
    font-weight: 600;
  }
}

.schedule-pickup .body .steps .step-view.complete-schedule-screen {
  margin-top: 100px;
  text-align: center;
}

.schedule-pickup .body .steps .step-view.complete-schedule-screen h2 {
  color: var(--wash-black);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.schedule-pickup .body .steps .step-view.complete-schedule-screen p {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 24px;
  width: 390px;

  &.btn_link {
    cursor: pointer;
  }
}

.schedule-pickup .body .steps .step-view.complete-schedule-screen button {
  background: #17499f;
  border: none;
  border-radius: 8px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 700;
  height: 56px;
  width: 148px;
}

.schedule-pickup .body .steps .step-view.complete-schedule-screen button {
  background: #17499f;
  border: none;
  border-radius: 8px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 700;
  height: 56px;
  width: 148px;
}

.schedule-pickup .body .steps .step-view.complete-schedule-screen button {
  background: #17499f;
  border: none;
  border-radius: 8px;
  color: #fafafa;
  font-size: 14px;
  font-weight: 700;
  height: 56px;
  width: 148px;
}

.schedule-pickup .body .steps .tracking-container {
  background: #fafafa;
  border-radius: 8px;
  padding: 24px;
  position: relative;
  width: 85%;
}

.schedule-pickup .body .steps .tracking-container h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.schedule-pickup .body .steps .tracking-container .sub-text {
  color: #666;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 24px;
}

.schedule-pickup .body .steps .wrapper {
  background: #fff;
  border-radius: 24px;
  padding: 24px;
}

.schedule-pickup .body .steps .wrapper .step {
  margin-left: 45px;
  position: relative;

  &::before {
    background: #ebebeb;
    content: "";
    height: 100%;
    left: -30px;
    margin-top: 20px;
    position: absolute;
    width: 6px;
  }

  p {
    color: #666;
    font-size: 14px;
    font-weight: 400;

    &.placeholder-text {
      color: #dbdada;
    }
  }

  h4 {
    font-size: 16px;
    font-weight: 700;

    &::before {
      background: #ece9e9;
      border-radius: 21px;
      content: "";
      height: 20px;
      left: -37px;
      margin-top: 2px;
      position: absolute;
      width: 20px;
    }

    &.done::before {
      background: #f6ae2d;
    }

    &.processing::before {
      background: #ffe6bc;
    }
  }

  &:last-child::before {
    content: none;
  }
}

.schedule-pickup .body .steps .next-button {
  border-radius: 8px;
  border: none;
  background: #17499f;
  color: #fafafa;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  padding: 19px;

  &:disabled {
    background: #cfcfcf;
    cursor: not-allowed;
  }
}

.schedule-pickup .body .steps .summary-container {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.schedule-pickup .body .steps .summary-container .order-summary {
  border-radius: 8px;
  padding: 24px;
  width: 480px;
  background: #fafafa;
}

.schedule-pickup .body .steps .summary-container .order-summary-mobile {
  display: none;
}

.schedule-pickup .body .steps .summary-container .order-summary h3 {
  font-size: 24px;
  font-weight: 600;
  color: #020d1c;
  margin-bottom: 24px;
}

.schedule-pickup .body .steps .summary-container .order-summary .address-block {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 16px;
  margin-bottom: 16px;
  p {
    margin-bottom: 12px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
  }
  b {
    color: #020d1c;
    font-size: 16px;
    font-weight: 600;
  }
}

.schedule-pickup
  .body
  .steps
  .summary-container
  .order-summary
  .billing-items
  .item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-weight: 500;
  span {
    color: #666;
    font-weight: 400;
  }
}

.schedule-pickup .body .steps .summary-container .order-summary .total {
  border-radius: 8px;
  background: #d6e7ff;
  display: flex;
  padding: 24px 16px;
  justify-content: space-between;
  font-size: 24px;
  color: #020d1c;
  margin-top: 40px;

  span {
    font-weight: 400;
  }
  b {
    font-weight: 600;
  }
}

/* SCHEDULE PICKUP ENDS */

/* LOGIN BEGINS  */

.login .form p {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

.login .form label {
  color: #020d1c;
  font-size: 14px;
  font-weight: 500;
}

.login .form button {
  border-radius: 8px;
  background: #17499f;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: #fafafa;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 32px;
}

.login .form .no-account {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  a {
    color: var(--wash-blue);
    font-weight: 700;
    text-decoration: none;
  }
}

.login .form .phone-input-0-wrapper {
  margin-bottom: 1rem;
}

/* LOGIN END */

/* DASHBOARD STARTS */

.__dashboard .user-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__dashboard .user-details .name_ h2 {
  font-size: 24px;
  font-weight: 300;

  b {
    font-weight: 600;
    text-transform: capitalize;
  }
}

.__dashboard .user-details .name_ p {
  color: #666;
  font-size: 13px;
  font-weight: 300;
}

.__dashboard .user-details .icon-user {
  background: #ffd59a;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  i {
    font-size: 24px;
    color: #17499f;
  }
}

.__dashboard .request-wash {
  background: #17499f;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

.__dashboard .request-wash h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.__dashboard .request-wash p {
  color: #bce5fd;
  font-size: 13px;
  margin-bottom: 16px;
  font-weight: 300;
}

.__dashboard .request-wash a {
  color: #ffbe1b;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.__dashboard .request-wash img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.__dashboard .requests-boards {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.__dashboard .requests-boards .board {
  padding: 24px;
  border-radius: 8px;
  background: #ffbdb0;
  width: 100%;
  cursor: pointer;
}

.__dashboard .requests-boards .board .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.__dashboard .requests-boards .board h3 {
  color: #020d1c;
  font-size: 24px;
  font-weight: 600;
}

.__dashboard .list-items {
  margin-top: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.__dashboard .list-items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.__dashboard .list-items .item-details {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.__dashboard .list-items .item-details .icon-wrapper {
  width: 40px;
  height: 40px;
  background: #ffd59a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
}

.__dashboard .list-items .item-details .icon-wrapper i {
  font-size: 24px;
  color: #17499f;
}

.__dashboard .list-items .item-details .details h3 {
  color: #020d1c;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.__dashboard .list-items .item-details .details p {
  color: #666;
  font-size: 13px;
  font-weight: 400;
}

.__dashboard .help-container {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}

.__dashboard .help-container .help {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  text-decoration: none;

  img {
    margin-bottom: 16px;
  }

  h4 {
    color: var(--wash-black);
  }

  p {
    margin-bottom: 0;
    color: #666;
    font-size: 13px;
    font-weight: 300;
    line-height: 150%;
  }
}

.__dashboard.faqs h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #020d1c;
  margin-bottom: 8px;
}

.__dashboard.faqs h6 {
  color: #666666;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 32px;
}

.__dashboard.faqs .accordion-item {
  border: none;
  margin-bottom: 16px;
}

.__dashboard.faqs .accordion-item .accordion-button {
  background: #fafafa;
  border-radius: 16px;
  color: #020d1c;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;

  &:not(.collapsed) {
    box-shadow: none;
  }
}

.__dashboard .help-container ._section {
  display: flex;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  column-gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;

  i {
    font-size: 25px;
    color: #666;
  }
}

.__dashboard .help-container ._section h4 {
  font-size: 15px;
  margin-bottom: 3px;
  font-weight: 600;
  color: var(--wash-black);
}

.__dashboard .help-container ._section h6 {
  margin-bottom: 0;
  color: gray;
  font-weight: 400;
  font-size: 13px;
}

/* DASHBOARD ENDS */
