$wash-black: #020d1c;
$wash-orange: #f2ca89;
$wash-blue: #17499f;
$wash-yellow: #f26419;

@media screen and (max-width: 767px) {
  /* Styles for small devices */

  .app-landing {
    .navbar-toggler {
      border: none;
      font-size: 28px;
      margin-top: -10px;
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
    &_section-one {
      &_header-container {
        ul {
          font-size: 16px;
        }
        .login-section {
          p {
            font-size: 16px;
          }
          flex-flow: column;
          row-gap: 11px;
        }
      }
      &_body {
        ._location {
          h1 {
            // width: calc(100% + 12em);
            width: 350px;
            font-size: 46px;
          }
          &-input-wrapper {
            width: calc(100% + 12em);
          }
          &-schedule-button {
            width: calc(100% + 13.7em);
          }
        }
      }
    }

    &_section-two {
      ._attributes {
        &-body {
          flex-flow: column;
        }
      }

      .benefits-flex {
        flex-flow: column;
      }

      .benefit {
        p {
          width: 100% !important;
        }

        img {
          width: 47%;
          bottom: 0px;
          top: unset !important;
        }

        &:first-child {
          img {
            width: 27%;
          }
        }

        &:last-child {
          img {
            width: 32%;
          }
        }
      }

      ._services {
        .services-flex {
          flex-flow: column;
          row-gap: 24px;

          .service {
            text-align: center;
            p {
              width: 100%;
              text-align: left;
            }

            button {
              width: 100%;
            }
          }
        }
      }

      ._pricing {
        .pricing-flex {
          flex-flow: column;
          row-gap: 24px;
        }
      }
    }
  }
}
