$wash-black: #020d1c;
$wash-orange: #f2ca89;
$wash-blue: #17499f;
$wash-yellow: #f26419;

@media screen and (max-width: 767px) {
  /* Styles for small devices */

  .app-landing {
    .navbar-toggler {
      border: none;
      font-size: 28px;
      margin-top: -10px;
      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
    &_section-one {
      &_header-container {
        ul {
          font-size: 16px;
        }
        .login-section {
          p {
            font-size: 16px;
          }
          flex-flow: column;
          row-gap: 11px;
        }
      }
      &_body {
        ._location {
          h1 {
            // width: calc(100% + 12em);
            width: 350px;
            font-size: 46px;
          }
          &-input-wrapper {
            width: calc(100% + 12em);
          }
          &-schedule-button {
            width: calc(100% + 13.7em);
          }
        }
      }
    }

    &_section-two {
      ._attributes {
        margin-bottom: 30px;
        &-body {
          flex-flow: column;
        }
      }

      .benefits-flex {
        flex-flow: column;
        margin-bottom: 40px;

        .benefit {
          padding-bottom: 100px;
          &:last-child {
            padding-bottom: 120px;
          }
        }
      }

      .benefit {
        h1 {
          margin-bottom: 24px;
        }
        p {
          width: 100% !important;
          margin-bottom: 18px !important;
        }

        li {
          margin-bottom: 15px !important;
          list-style: square;
        }

        img {
          width: 47%;
          bottom: 0px;
          top: unset !important;
        }

        &:first-child {
          img {
            width: 27%;
          }
        }

        &:last-child {
          img {
            width: 32%;
          }
        }
      }

      ._services {
        padding-bottom: 0 !important;
        h1 {
          font-size: 33px;
        }
        .services-flex {
          flex-flow: column;
          row-gap: 24px;
          margin-bottom: 40px;

          .service {
            text-align: center;
            p {
              width: 100%;
              text-align: center;
              font-size: 17px;
            }

            button {
              width: 100%;
            }

            img {
              width: 32%;
            }

            h2 {
              font-size: 30px;
              margin-top: 15px;
            }
          }
        }
      }

      ._pricing {
        h1 {
          font-size: 33px;
        }
        .pricing-flex {
          flex-flow: column;
          row-gap: 24px;

          .pricing {
            ._benefits {
              height: 90px;
            }
          }
        }
      }
      ._extras {
        &-box {
          flex-wrap: wrap;
          gap: 30px;
        }
      }

      ._reviews {
        margin-top: 60px;
        padding-bottom: 60px;

        h1 {
          font-size: 33px;
        }
        .reviews-flex {
          flex-flow: column;
          row-gap: 24px;
        }
      }
    }

    &_section-three {
      ._faqs {
        h1 {
          padding-top: 60px;
        }
      }

      ._current-location {
        flex-wrap: wrap;
        div {
          column-gap: 20px;
        }
      }

      ._footer {
        padding: 40px 20px;
        &-elements {
          display: flex;
          flex-flow: column;
          gap: 25px;

          ul {
            padding: 0;
          }
        }
      }
    }
  }
}
