$wash-black: #020d1c;
$wash-orange: #f2ca89;
$wash-blue: #17499f;
$wash-yellow: #f26419;

.app-landing {
  p {
    color: $wash-black;
    line-height: normal;
  }

  &_section-one {
    background: url("../imgs/BBackground.png");
    height: 100dvh;
    background-size: cover;

    &_header-container {
      padding-top: 24px;
      align-items: center;

      ul {
        display: flex;
        list-style: none;
        font-size: 14px;
        font-weight: 700;
        column-gap: 24px;
        align-items: center;
        justify-content: center;
        margin: 0;

        a {
          color: $wash-black;
        }
      }

      .login-section {
        display: flex;
        align-items: center;
        column-gap: 56px;
        justify-content: center;

        p {
          margin: 0;
          font-size: 14px;
          font-weight: 700;
        }

        button {
          border-radius: 8px;
          background: $wash-blue;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          padding: 20px 32px;
          border: none;
        }
      }
    }

    &_body {
      margin-top: 56px;

      ._location {
        &-info {
          display: flex;
          align-items: center;
          border-radius: 24px;
          background: $wash-orange;
          width: fit-content;
          padding: 12px;
          column-gap: 5px;

          i {
            font-size: 11px;
            line-height: normal;
          }

          p {
            margin: 0;
            font-weight: 600;
            font-size: 14px;
          }
        }

        &-prompt {
          font-size: 16px;
          font-weight: 500;
          margin-top: 19px;
        }

        &-input-wrapper {
          height: 56px;
          width: 480px;

          &-addon {
            width: 45px;
            background: white;
            display: flex;
            justify-content: center;
          }

          &-inputbox {
            border-left: none;

            &::placeholder {
              color: #d9d9d9;
            }

            &:focus,
            &:active {
              box-shadow: none;
              outline: none;
              border: 1px solid #dee2e6;
              border-left: none;
            }
          }
        }

        &-schedule-button {
          background: $wash-blue;
          color: white;
          font-size: 14px;
          font-weight: 700;
          margin-top: 16px;
          width: 480px;
          height: 56px;
          border-radius: 8px;
          border: none;
        }
      }

      h1 {
        font-size: 64px;
        margin-top: 16px;
        font-weight: 600;
        width: 546px;

        span {
          display: block;
          color: $wash-yellow;
        }
      }
    }
  }

  &_section-two {
    display: block;
    background: #fff8ec;
    padding-top: 80px;
    ._attributes {
      margin-bottom: 86px;
      h1 {
        text-align: center;
        margin-bottom: 46px;
      }
      &-body {
        display: flex;
        justify-content: space-between;
        &-item {
          display: flex;
          align-items: center;
          column-gap: 16px;

          .icon-wrapper {
            border-radius: 4px;
            background: #ffe6bc;
            padding: 16px;
            color: #323232;
          }

          .header {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 8px;
          }
          .info {
            color: #666;
            font-weight: 300;
            font-size: 14px;
          }
        }
      }
    }
    .benefits-flex {
      display: flex;
      column-gap: 24px;
      margin-bottom: 120px;

      .benefit {
        width: 100%;
        padding-bottom: 72px;

        &:first-child {
          background: #e7ece9;
          img {
            top: 98px;
          }
        }

        &:last-child {
          background: #e3e3cd;

          p {
            margin-bottom: 24px;
          }

          img {
            top: 10.7rem;
          }
        }

        :nth-child(2) {
          margin-bottom: 32px;
        }
      }
    }
    .benefit {
      border-radius: 8px;
      background: #d1d5dd;
      padding: 40px;
      padding-bottom: 104px;
      margin-bottom: 24px;
      position: relative;

      h1 {
        font-size: 32px;
        font-weight: 600;
        line-height: 150%;
        margin-bottom: 43px;
      }

      img {
        position: absolute;
        right: 0;
        top: 2.6rem;
      }
      p {
        line-height: 28px;
      }

      :nth-child(2) {
        margin-bottom: 42px;
      }
      :nth-child(3) {
        margin-bottom: 32px;
        width: 26em;
      }
      :nth-child(4) {
        width: 31em;
      }
    }

    ._services {
      h1 {
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        color: $wash-black;
      }

      .services-flex {
        display: flex;
        margin-top: 40px;
        column-gap: 24px;

        .service {
          border-radius: 16px;
          background: #f5c87e;
          padding: 40px;
          color: $wash-black;
          width: 100%;

          img {
            width: 17%;
          }

          h2 {
            font-size: 32px;
            font-weight: 600;
            line-height: 150%;
            margin-top: 32px;
            margin-bottom: 16px;
          }

          p {
            width: 508px;
            line-height: 26px;
            margin-bottom: 24px;
            color: #323232;
            font-size: 20px;
            font-weight: 400;
          }

          button {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 700;
            width: 508px;
            height: 56px;
            color: $wash-blue;
            border: none;
            letter-spacing: 0.28px;
            border-radius: 8px;
            background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
          }
        }
      }
    }
  }
}
